
<div class="text-center">
    <form asp-controller="Disease" asp-action="Store" method="post">
        <div class="form-group">
            <input class="form-control" name="name" />
            <textarea class="form-control" name="description"> </textarea>
            <input class="form-control" name="startdate" type="date"/> 
            <button class="btn btn-secondary" type="submit"> Dodaj Chorobe</button>
        </div>

    </form>
</div>